@{
    Layout = "~/Views/Shared/_admin.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Style.css" rel="stylesheet" />
<h2 class="alert alert-info">ESPACE ADMINISTRATION</h2>

<div class="container">
    <div class="row">
        
        <div class="col-sm-7">
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Content/images/elect.jpg" class="card-img-top" style="width:160px;" />
                        <div class="card-body" id="carte">
                            <p class="card-text">
                                <h4>ELECTEUR</h4>
                                @ViewBag.electeurs
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Content/images/cand.jpg" class="card-img-top" style="width:160px;height:110px;" />
                        <div class="card-body" id="carte">
                            <p class="card-text">
                                <h4>Candidat</h4>
                                @ViewBag.candidats
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Content/images/users-top.png" class="card-img-top" style="width:160px;" />
                        <div class="card-body" id="carte">
                            <p class="card-text">
                                <h4>Bureau</h4>
                                @ViewBag.bureaux
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Content/images/admin.jpg" class="card-img-top" style="width:160px; height:110px;" />
                        <div class="card-body" id="carte">
                            <p class="card-text">
                                <h4>Admin</h4>
                                @ViewBag.admins
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Statistique</h3>

          
        </div>
        </div>
    </div>
<style>
    #carte {
        border-right: 2px solid;
        border-left: 2px solid;
        text-align: center;
        font-size: 24px;
        margin-top: 10px;
        padding: 0;
    }
</style>

