@{
    ViewBag.Title = "A propos";
}
<h2 class="jumbotron">@ViewBag.Title.</h2>

<section class="Material-contact-section section-padding section-dark">
    <div class="container">
        <div class="row">
           
        </div>
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <!-- Section Titile -->
                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                    <h1 class="section-title">ELECTRO VOTE</h1>
                </div>
                <p>
                    Le vote en ligne mis en place par Electro Vote facilite l’organisation de votre emploi du temps,
                    il renseigne l’hôte sur votre participation du vote. Gerer un vote en ligne est relativement facile avec la plateforme Electro Vote !
                </p>

                <h3>Coordonees</h3>
                <div class="find-widget">
                    Company:  <a href="https://hostriver.ro">Electro VOTE</a>
                </div>
                <div class="find-widget">
                    Address: <a href="#">4435 Berkshire Circle Knoxville</a>
                </div>
                <div class="find-widget">
                    Telephone:  <a href="#">33 958 58 58</a>
                </div>

                <div class="find-widget">
                    Site :  <a href="https://uny.ro">www.electrovote.com</a>
                </div>
                <div class="find-widget">
                    Email: <a href="#">electrovote@elvote.com</a>
                </div>
            </div>
            <!-- contact form -->
            <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">

                <img src="~/Content/images/vote.jpg" />
            </div>
        </div>
    </div>
</section>
<p>Utilisez ce formulaire pour suivez vos informations.</p>
