@{
    ViewBag.Title = "About";
}
<h2 class="jumbotron">@ViewBag.Title.</h2>

<section class="Material-contact-section section-padding section-dark">
    <div class="container">
        <div class="row">
           
        </div>
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <!-- Section Titile -->
                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                    <h1 class="section-title">Love to Hear From You</h1>
                </div>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content.</p>

                <div class="find-widget">
                    Company:  <a href="https://hostriver.ro">HostRiver</a>
                </div>
                <div class="find-widget">
                    Address: <a href="#">4435 Berkshire Circle Knoxville</a>
                </div>
                <div class="find-widget">
                    Phone:  <a href="#">+ 879-890-9767</a>
                </div>

                <div class="find-widget">
                    Website:  <a href="https://uny.ro">www.uny.ro</a>
                </div>
                <div class="find-widget">
                    Program: <a href="#">Mon to Sat: 09:30 AM - 10.30 PM</a>
                </div>
            </div>
            <!-- contact form -->
            <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">

                <img src="~/Content/images/vote.jpg" />
            </div>
        </div>
    </div>
</section>
<p>Use this area to provide additional information.</p>
